<section class="section">
  <h1>Availability</h1>
  <p>You  
  <% if current_user.accepting_projects %>
    ARE
  <% else %>
    ARE NOT
  <% end %>
  currently accepting projects.</p>
  <%= form_for(@user) do |f| %>
    <%= f.label :accepting_projects, "Available?" %>
    <%= f.check_box :accepting_projects %>
    <%= f.submit 'Save Changes', class: ''  %>
  <% end %>

  <hr class="rule">

  <h1>Posts</h1>
  <%= link_to "New Post", new_post_path %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @user.posts.each do |post| %>
        <tr>
          <td><%= post.created_at.strftime('%m.%d.%Y') %></td>
          <td><%= post.title %></td>
          <td><%= post.slug %></td>
          <td>
            <%= link_to "View", post_path(post) %> / 
            <%= link_to "Edit", edit_post_path(post) %> / 
            <%= link_to "Delete", post_path(post), :method =>  :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

   <hr class="rule">

   <h1>Projects</h1>
   <%= link_to "New Project", new_project_path %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Slug</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @user.projects.each do |project| %>
        <tr>
          <td><%= project.created_at.strftime('%m.%d.%Y') %></td>
          <td><%= project.name %></td>
          <td><%= project.slug %></td>
          <td>
            <%= link_to "View", project_path(project) %> / 
            <%= link_to "Edit", edit_project_path(project) %> / 
            <%= link_to "Delete", project_path(project), :method =>  :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>

  <%= csrf_meta_tag %>


