---
import BaseLayout from "../../layouts/Base.astro";
import { getEntry } from "astro:content";

const { slug } = Astro.params;
if (!slug) {
  throw new Error("Not found");
}

const entry = await getEntry("blog", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();

let formattedDate = new Intl.DateTimeFormat("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
}).format(new Date(entry.data.date));

const ogImageUrl = new URL(slug + ".og-image.png", Astro.url).toString();
---

<BaseLayout
  title={entry.data.title}
  description={entry.data.description}
  ogImageUrl={ogImageUrl}
  size="full"
>
  <main
    class="prose prose-gray flex-1 dark:prose-invert prose-headings:text-3xl"
  >
    <div class="space-y-1 text-left">
      <h1
        class="title mb-0 text-balance leading-none"
        style="text-wrap: balance"
      >
        {entry.data.title}
      </h1>
      <p class="text-light text-sm">{formattedDate}</p>
    </div>
    <Content />
  </main>
</BaseLayout>
