<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Action</th>
      <th>Accepting Projects?</th>
      <th>Logged in?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %> / <%= link_to 'Edit', edit_user_path(user) %> / 
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= user.accepting_projects %></td>
        <td><%= logged_in? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
