<div class="nav-container" id="nav-container">
    <nav class="nav" id="nav">
        <div class="breadcrumbs" id="breadcrumb-hook">
            <a class="nav__logo" href="/"><img class="site-logo--small" src="/assets/images/logo.svg" alt="kinmill logo">ADMIN</a>
            <% if @alt_header %>
                <%= link_to @alt_header, @alt_header_url, :class => 'nav-fade' %>
            <% end %>
            <% if @breadcrumb %>
                <a class="nav-fade" id="breadcrumb"><%= @breadcrumb %></a>
            <% end %>
        </div>
        <ul>
          <% if logged_in? %>
              <li class="dropdown">
              <a data-icon=""><%= current_user.name %></a>
                  <ul>
                    <li><%= link_to "Admin", admin_path %></li>
                    <% if @post %>
                      <li><%= link_to "Edit Post", edit_post_path(@post) %></li>
                    <% end %>
                    <li><%= link_to "Logout", :logout, method: :post %></li>
                  </ul>
              </li>
            <% end %>
        </ul>
    </nav>
</div>
