<div class="nav-container" id="nav-container">
    <nav class="nav" id="nav">
        <div class="breadcrumbs" id="breadcrumb-hook">
            <a class="nav__logo" href="/"><img class="site-logo--small" src="/assets/images/logo.svg" alt="npb logo"></a>
            <% if @alt_header %>
                <%= link_to @alt_header, @alt_header_url, :class => 'nav-fade' %>

            <% end %>
            <% if item && item.slug %>
              <a class="nav-fade" id="breadcrumb" href="<%= item.slug %>"><%= item.slug %></a>
            <% end %>
        </div>
        <ul>
            <li><a class="work-nav" href="/projects" data-icon="">Projects</a></li>
            <li><a class="blog-nav" href="/blog" data-icon="">Blog</a></li>
            <!-- <li><a class="lab-nav" href="/lab" data-icon="">Lab</a></li> -->
            <li><a class="connect-nav" href="/connect" data-icon="">Connect</a></li>
            <% if logged_in? %>
              <li class="dropdown">
                <a data-icon=""><%= current_user.name %></a>
                  <ul>
                    <li><%= link_to "Admin", admin_path %></li>
                    <% if @edit_link && @post && current_user.admin %>
                      <li><%= link_to "Edit Post", edit_post_path(@post) %></li>
                    <% elsif @edit_link && @project && current_user.admin %>
                      <li><%= link_to "Edit Project", edit_project_path(@project) %></li>
                    <% elsif @edit_link && @tag && current_user.admin %>
                      <li><%= link_to "Edit Tag", edit_tag_path(@tag) %></li>
                    <% end %>
                    <li><%= link_to "Logout", :logout, method: :post %></li>
                  </ul>
              </li>
            <% end %>
        </ul>
    </nav>
</div>
