---
import ProjectPreview from "../components/ProjectPreview.astro";
import HomeLayout from "../layouts/Home.astro";
import Intro from "../components/Intro.astro";
import * as Paths from '../paths';

let projects  = await Astro.glob("./projects/*.md");

let allPosts = await Astro.glob("../pages/posts/*.md");
let sortedPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  )

---

<HomeLayout title="Nick Ball" description="Web developer based in Portland, OR.">
  <Intro />

  <div class="space-y-12">
    <section>
      <h2 class="text-sm font-special text-accent-11 tracking-wider">Projects</h2>
      <div class="space-y-8">
        {projects.map(project => <ProjectPreview {project} />)}
      </div>
    </section>

    <section class="space-y-2">
      <h2 class="text-sm font-special text-accent-11 tracking-wider">Posts</h2>
      <div class="space-y-8">
        <ul class="text-base md:text-lg space-y-6 md:space-y-2">
          {sortedPosts.map(post => (
            <li>
              <a class="no-underline text hover:text-accent-11 dark:hover-text-accent-dark-11 font-semibold group" href={post.url}>
                {post.frontmatter.title}
              {post.frontmatter.description ? <span class="text font-normal group-hover:text-accent-11 dark:group-hover:text-accent-dark-11 transition-colors">— {post.frontmatter.description}</span> : null}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </section>

    <section class="space-y-2">
      <h2 class="text-sm font-special text-accent-11 tracking-wider">Find me</h2>
      <div class="space-y-8">
        <ul class="text-xl space-y-2">
          <li><a class="text" href={Paths.github}>GitHub</a></li>
          <li><a class="text" href={Paths.twitter}>Twitter</a></li>
        </ul>
      </div>
    </section>
  </div>
</HomeLayout>
