<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <%= render 'shared/errors', item: @project %>
  <% end %>

  <ul class="form-fields">

  <li>
  <%= f.label :name, class: "beta" %>
  <%= f.text_field :name %>
  </li>

  <li>
  <%= f.label :role , class: "beta"%>
  <%= f.text_field :role %>
  </li>

  <li>
  <%= f.label :url , class: "beta"%>
  <%= f.text_field :url %>
  </li>

  <li>
  <%= f.label :date_completed, class: "beta"%>
  <%= date_field("project", "date_completed") %>
  </li>

  <li>
  <%= f.label :body, class: "beta"  %>
  <%= f.text_area :body %>
  </li>

  <li>
  <%= f.label :logo, class: "beta" %>
  <%= f.text_field :logo %>
  </li>

  <li>
  <%= f.label :thumbnail, class: "beta" %>
  <%= f.text_field :thumbnail %>
  </li>

  <li>
  <%= f.label :small_screen, class: "beta" %>
  <%= f.text_field :small_screen %>
  </li>

  <li>
  <%= f.label :medium_screen, class: "beta" %>
  <%= f.text_field :medium_screen %>
  </li>

  <li>
  <%= f.label :large_screen, class: "beta" %>
  <%= f.text_field :large_screen %>
  </li>

  <li>
  <%= f.label :tag_list, class: "beta" %>
  <%= f.text_field :tag_list %>
  </li>

  <li>
  <%= f.label :slug, class: "beta" %>
  <%= f.text_field :slug %>
  </li>
  
  <li>
  <%= f.button nil, class: "button", "data-icon" => "" %>
  </li>
</ul>
<% end %>
