<article id="<%= @project.name %>" class="work-item" title="<%= @project.name%>">

  <h1 class="headline"><%= @project.name %></h1>

  <div class="horizontal-list">
    <div>
      <h2>Role:</h2>
      <p><%= @project.role %></p>
    </div><!--

                    --><div>
      <h2>URL:</h2>
      <p><a href="<%= @project.url %>" target="_blank"><%= @project.url %></a></p>
    </div><!--

                    --><div>
      <h2>Completed:</h2>
      <p><%= @project.date_completed.strftime('%B %d, %Y') %></p>
    </div><!--

                    --><div>
      <h2>Tags:</h2>
      <p>
      <% @project.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.name) %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="carousel-container" id="carousel-container">
    <div class="carousel" id="carousel">

      <span data-picture data-alt="<%= "#{@project.name} small"%>" class="carousel__img carousel__img--mobile">
        <span data-src="<%= "/assets/images/#{@project.small_screen}" %>"></span>
        <span data-src="<%= "/assets/images/#{@project.small_screen}" %>" data-media="(min-width: 940px)"></span>
        <noscript>
          <img src="<%= "/assets/images/#{@project.small_screen}" %>" alt="<%= "#{@project.name} small" %>">
        </noscript>
      </span>

       <span data-picture data-alt="<%= "#{@project.name} medium"%>" class="carousel__img carousel__img--tablet">
        <span data-src="<%= "/assets/images/#{@project.medium_screen}" %>"></span>
        <span data-src="<%= "/assets/images/#{@project.medium_screen}" %>" data-media="(min-width: 940px)"></span>
        <noscript>
          <img src="<%= "/assets/images/#{@project.medium_screen}" %>" alt="<%= "#{@project.name} medium" %>">
        </noscript>
      </span>

      <span data-picture data-alt="<%= "#{@project.name} large"%>" class="carousel__img carousel__img--desk">
        <span data-src="<%= "/assets/images/#{@project.large_screen}" %>"></span>
        <span data-src="<%= "/assets/images/#{@project.large_screen}" %>" data-media="(min-width: 940px)"></span>
        <noscript>
          <img src="<%= "/assets/images/#{@project.large_screen}" %>" alt="<%= "#{@project.name} large" %>">
        </noscript>
      </span>

    </div>
  </div>

  <div class="carousel__controls">
    <a class="button" id="carousel__control" data-icon="">Rotate</a>
  </div>

  <hr class="rule">

  <div class="text-body">
    <%= markdown @project.body %>
  </div>

  <a class="project-logo" href="{{ page.site_url }}">
    <img src="{{ page.project_logo }}" alt="{{ page.client }} logo">
  </a>


  <div class="horizontal-list">
    <div>
      <h2>Role:</h2>
      <p><%= @project.role %></p>
    </div><!--

                    --><div>
      <h2>URL:</h2>
      <p><a href="<%= @project.url %>" target="_blank"><%= @project.url %></a></p>
    </div><!--

                    --><div>
      <h2>Completed:</h2>
      <p><%= @project.date_completed.strftime('%B %d, %Y') %></p>
    </div><!--

                    --><div>
      <h2>Tags:</h2>
      <p> 
        <% @project.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.name) %>
        <% end %>
      </p>
    </div>
  </div>

</article>

<% if logged_in? && current_user.admin %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
