<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <%= render 'shared/errors', item: @tag %>
  <% end %>

  <ul class="form-fields">
    <li>
    <%= f.label :name, class: "beta" %>
    <%= f.text_field :name %>
    </li>
    <li>
    <%= f.button nil, class: "button", id: "submit", "data-icon" => "" %>
    </li>
  </ul>
<% end %>
