<section class="section text-body">
    <span class="small-header">Tagged with:</span>
    <h1 class="headline"><%= @tag.name %></h1>

    <h2 class="small-header">Posts</h2>
    <% if @tag.post_references.length == 0 %>
      <p class="no-leader italic">No posts with this tag yet.</p>
    <% end %>
    <% @tag.post_references.each do |post_reference| %>
    <h2>
      <a href="/blog/<%= post_reference.slug %>"><%= post_reference.title %></a>
    </h2>
    <% end %>

    <hr class="rule--small">

    <h2 class="small-header">Projects</h2>
    <% if @tag.project_references.length == 0 %>
      <p class="no-leader italic">No projects with this tag yet.</p>
    <% end %>
    <% @tag.project_references.each do |project_reference| %>
    <h2>
      <a href="/projects/<%= project_reference.slug %>"><%= project_reference.name %></a>
    </h2>
    <% end %>
    
    <hr class="rule--small">

    <%= link_to "More Tags", tags_path %>

</section>

<% if logged_in? %>
<section class="text-body">
<hr class="rule">
<%= link_to 'Edit', edit_tag_path(@tag) %>
</section>
<% end %>
