<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <%= render 'shared/errors', item: @post %>
  <% end %>

<ul class="form-fields">
  <li>
  <%= f.label :title, class: "beta" %>
  <%= f.text_field :title %>
  </li>
  <li>
    <div class="editor">
      <div class="editor__raw">
        <%= f.label :body, "Markdown", class: "beta" %>
        <%= f.text_area :body, id: 'editor__raw__input', "oninput" => "this.editor.update()" %>
      </div>
      <div class="editor__preview">
        <h2>Preview</h2>
        <div id="editor__preview__text" class="editor__preview__text"></div>
      </div>
    </div>
  </li>
  <li>
  <%= f.label :slug, class: "beta" %>
  <%= f.text_field :slug %>
  </li>

  <li>
  <%= f.label :tag_list, class: "beta" %>
  <%= f.text_field :tag_list %>
  </li>

  <li>
  <%= f.label :excerpt, class: "beta" %>
  <%= f.text_field :excerpt %>
  </li> 

  <li class="checkbox">
    <%= f.check_box :published %>
    <%= f.label :published, @post.published ? "Published" : "Private", class: "beta" %>
  </li>

  <li>
  <%= f.button nil, class: "button", id: "submit", "data-icon" => "" %>
  </li>
</ul>
<% end %>
