<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <%= render 'shared/errors', item: @post %>
  <% end %>

<ul class="form-fields">
  <li>
  <%= f.label :title, class: "beta" %>
  <%= f.text_field :title %>
  </li>
  <li>
  <%= f.label :body, class: "beta" %>
  <%= f.text_area :body %>
  </li>
  <li>
  <%= f.label :slug, class: "beta" %>
  <%= f.text_field :slug %>
  </li>

  <li>
  <%= f.label :tag_list, class: "beta" %>
  <%= f.text_field :tag_list %>
  </li>

  <li>
  <%= f.label :excerpt, class: "beta" %>
  <%= f.text_field :excerpt %>
  </li>
  <li>
  <%= f.button "Create Post", class: "button", "data-icon" => "" %>
  </li>
</ul>
<% end %>
