---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
  ogImageUrl?: string;
  size?: "default" | "wide" | "full";
}

const defaultOgImageUrl = new URL("/og-image.png", Astro.url);

let {
  title,
  description,
  ogImageUrl = defaultOgImageUrl,
  size = "full",
} = Astro.props as Props;
let url = Astro.url;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="image" content={ogImageUrl} />
    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImageUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:creator" content="_nickball" />

    <link
      rel="preload"
      href="/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf"
      crossorigin="anonymous"
      as="font"
      type="font/ttf"
    />
    <link
      rel="preload"
      href="/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf"
      crossorigin="anonymous"
      as="font"
      type="font/ttf"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-16x16.png"
      sizes="16x16"
    />

    {
      import.meta.env.PROD ? (
        <>
          <script
            defer
            src="/stats/script.js"
            data-website-id="52e31176-fde6-4d26-b38f-e83577f30d7b"
          />
        </>
      ) : null
    }
  </head>

  <body
    class="text flex h-full flex-col"
    class:list={[
      size === "full" ? "" : "container",
      size === "default" ? "max-w-2xl" : "",
    ]}
  >
    <Header />
    <div class={`mb-48 flex-1 px-8`}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
