<%= render 'shared/head' %>
    <body class="<%= @body_class || '' %>">

        <body class="{{ page.body_class }}">

        <%= render 'shared/mobile_header' %>

        <div class="wrapper">

            <%= render 'shared/admin_nav' %>

            <div class="content" id="content">
              <% flash.each do |key, value| %>
                <div class='flash flash--<%= key %>'>
                  <%= value %>
                </div>
              <% end %>
                <%= yield %>

            </div><!-- End Content -->

        </div><!-- End Wrapper -->

        <%= render 'shared/footer' %>
    </body>
</html>
