<!DOCTYPE html>
<html lang="en" class="no-js new-visitor">
    <head>
        <meta http-equiv="Content-Type" content ="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">

        <title>Kinmill</title>

        <link rel="icon" type="image/png" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7821852/698262/css/fonts.css" />
        <link rel="stylesheet" href="/assets/css/style.css">
        <script src="/assets/js/libs/modernizr.js"></script>
    </head>
    <body class="<%= @body_class || '' %>">

        <body class="{{ page.body_class }}">

        <%= render 'layouts/mobile_header' %>

        <div class="wrapper">

            <%= render 'layouts/admin_nav' %>

            <div class="content" id="content">

                <%= yield %>

            </div><!-- End Content -->

        </div><!-- End Wrapper -->

        <%= render 'layouts/footer' %>
    </body>
</html>
